.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.item {
  align-items: center;
  border-top: 1px solid #e8eaed;
  height: 48px;
}

.item-content {
  display: flex;
  -webkit-box-align: center;
  box-align: center;
  align-items: center;
  border-top: 1px solid #e8eaed;
  height: 48px;
}

.item-content:hover {
  background: #28292a;
}

.title {
  flex: 1;
  overflow: hidden;
  display: flex;
}

.code-wrapper {
  margin-left: 0;
  min-width: 56px;
}

.code {
  background-color: #e1363d;
  align-self: right;
  border-radius: 4px;
  width: 47px;
  height: 20px;
  letter-spacing: .07272727em;
  font-family: Roboto, Arial, sans-serif;
  font-size: .6875rem;
  line-height: 1rem;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  height: 22px;
  color: white;
  display: flex;
}

.name-wrapper {
  flex: 1;
  max-height: 100%;
  letter-spacing: .01785714em;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.25rem;
  width: calc(100% - 56px);
}

.name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: white;
}

.price {
  width: 116px;
  display: flex;
  box-pack: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: white;
}

.price-diff {
  width: 116px;
  display: flex;
  box-pack: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  box-align: center;
  align-items: center;
  color: white;
}

.percent-diff {
  width: 116px;
  display: flex;
  box-pack: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  box-align: center;
  align-items: center;
  color: white;
}

.num-up,
.num-down {
  letter-spacing: .00625em;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  padding: 0 8px;
  border-radius: 8px;
  width: min-content;
  min-width: 40px;
}

.num-up {
  color: #a50e0e;
  background: #fce8e6;
}

.num-down {
  color: #137333;
  background: #e6f4ea;
}
