<ul class="list">
  <li class="item" *ngFor="let item of items">
    <a [href]="'quote/' + item.code">
      <div class="item-content">
        <div class="title">
          <div class="code-wrapper">
            <div class="code">{{ item.code }}</div>
          </div>
          <div class="name">{{ item.name }}</div>
        </div>
        <div class="price">
          ${{ item.price }}
        </div>
        <div class="price-diff">
          {{ item.priceDiffFormatted }}
        </div>
        <div class="percent-diff">
          {{ item.percentDiffFormatted }}
        </div>
      </div>
    </a>
  </li>
</ul>
